<!DOCTYPE html>
  <%- include('../partials/head'); %>

  <body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
      <div class="text-center">
        <h1>Sobre mim</h1>
        <p>Olá, eu sou o Mateus, apaixonado por programação e tecnologia!</p>
      </div>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>